In [4]:
with open("./data/popular-names.txt", "r") as f:
    data = f.read()

print(data[0:50])

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880

# 10. 行数のカウントPermalink

In [5]:
# 10.行数カウント

print(data.count('\n'))

2780

In [6]:
!wc -l ./data/popular-names.txt

2780 ./data/popular-names.txt

# 11. タブをスペースに置換

In [7]:
# 11.タブをスペースに変換

print(data.replace('\t', ' ')[0:50])

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880

In [8]:
!sed s/'\t'/' '/g ./data/popular-names.txt | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
sed: couldn't write 19 items to stdout: Broken pipe

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [9]:
# 12.1列目をcol1.txtに，2列目をcol2.txtに保存 

import pickle

def pickup_col(rows, col_n):
    return [r.split()[col_n] for r in rows]

def save_singlecol_list(target, path):
    with open(path, mode='w') as f:
        f.write('\n'.join(target))

rows = data.splitlines()
col1 = pickup_col(rows, 0)
col2 = pickup_col(rows, 1)

save_singlecol_list(col1, "./data/col1.txt")
save_singlecol_list(col2, "./data/col2.txt")

In [10]:
! head -n 5 ./data/col1.txt

Mary
Anna
Emma
Elizabeth
Minnie

In [11]:
! cut -f 1 ./data/popular-names.txt > ./data/col1.txt
! cut -f 2 ./data/popular-names.txt > ./data/col2.txt

In [12]:
! head -n 5 ./data/col1.txt

Mary
Anna
Emma
Elizabeth
Minnie

# 13. col1.txtとcol2.txtをマージ

In [14]:
# 13.col1.txtとcol2.txtをマージ

def load_singlecol_list(path):
    with open(path, mode="r") as f:
        result = f.read().splitlines()
    return result

col1_marge = load_singlecol_list("./data/col1.txt")
col2_marge = load_singlecol_list("./data/col2.txt")

col_marged = ["\t".join(r) for r in list(zip(col1_marge,col2_marge))]

save_singlecol_list(col_marged, "./data/col_marged.txt")

In [16]:
!head -n 5 ./data/col_marged.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

In [17]:
!paste ./data/col1.txt ./data/col2.txt > ./data/col_marged.txt

In [18]:
!head -n 5 ./data/col_marged.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

# 14. 先頭からN行を出力

In [19]:
# 14. 先頭からN行を出力
!head ./data/col_marged.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

# 15. 末尾のN行を出力

In [24]:
import sys
import pandas as pd

df = pd.read_table('./data/popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

n = int(input("行数 >> "))

print(df.tail(n))

行数 >>  5

          name sex  number  year
2775  Benjamin   M   13381  2018
2776    Elijah   M   12886  2018
2777     Lucas   M   12585  2018
2778     Mason   M   12435  2018
2779     Logan   M   12352  2018

In [26]:
# 14. 先頭からN行を出力
!tail -n 5 ./data/popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

# 16. ファイルをN分割する