In [3]:
with open("./data/popular-names.txt", "r") as f:
    data = f.read()

print(data[0:50])

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880

# 10. 行数のカウントPermalink

In [4]:
# 10.行数カウント

print(data.count('\n'))

2780

In [5]:
!wc -l ./data/popular-names.txt

2780 ./data/popular-names.txt

# 11. タブをスペースに置換

In [6]:
# 11.タブをスペースに変換

print(data.replace('\t', ' ')[0:50])

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880

In [7]:
!sed s/'\t'/' '/g ./data/popular-names.txt | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
sed: couldn't write 17 items to stdout: Broken pipe

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [8]:
# 12.1列目をcol1.txtに，2列目をcol2.txtに保存 

import pickle

def pickup_col(rows, col_n):
    return [r.split()[col_n] for r in rows]

def save_singlecol_list(target, path):
    with open(path, mode='w') as f:
        f.write('\n'.join(target))

rows = data.splitlines()
col1 = pickup_col(rows, 0)
col2 = pickup_col(rows, 1)

save_singlecol_list(col1, "./data/col1.txt")
save_singlecol_list(col2, "./data/col2.txt")

In [9]:
! head -n 5 ./data/col1.txt

Mary
Anna
Emma
Elizabeth
Minnie

In [10]:
! cut -f 1 ./data/popular-names.txt > ./data/col1.txt
! cut -f 2 ./data/popular-names.txt > ./data/col2.txt

In [11]:
! head -n 5 ./data/col1.txt

Mary
Anna
Emma
Elizabeth
Minnie

# 13. col1.txtとcol2.txtをマージ

In [12]:
# 13.col1.txtとcol2.txtをマージ

def load_singlecol_list(path):
    with open(path, mode="r") as f:
        result = f.read().splitlines()
    return result

col1_marge = load_singlecol_list("./data/col1.txt")
col2_marge = load_singlecol_list("./data/col2.txt")

col_marged = ["\t".join(r) for r in list(zip(col1_marge,col2_marge))]

save_singlecol_list(col_marged, "./data/col_marged.txt")

In [13]:
!head -n 5 ./data/col_marged.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

In [14]:
!paste ./data/col1.txt ./data/col2.txt > ./data/col_marged.txt

In [15]:
!head -n 5 ./data/col_marged.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

# 14. 先頭からN行を出力

In [16]:
# 14. 先頭からN行を出力
!head ./data/col_marged.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

# 15. 末尾のN行を出力

In [17]:
import sys
import pandas as pd

df = pd.read_table('./data/popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

n = int(input("行数 >> "))

print(df.tail(n))

行数 >>  5

          name sex  number  year
2775  Benjamin   M   13381  2018
2776    Elijah   M   12886  2018
2777     Lucas   M   12585  2018
2778     Mason   M   12435  2018
2779     Logan   M   12352  2018

In [18]:
# 14. 先頭からN行を出力
!tail -n 5 ./data/popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

# 16. ファイルをN分割する

In [23]:
n = int(input("分割数を入力してください"))

span = int(len(df)/n)
print(span)

prev = 0
for i in range(n):
    print(df[prev:i*span])
    prev=i*span

分割数を入力してください 5

556
Empty DataFrame
Columns: [name, sex, number, year]
Index: []
          name sex  number  year
0         Mary   F    7065  1880
1         Anna   F    2604  1880
2         Emma   F    2003  1880
3    Elizabeth   F    1939  1880
4       Minnie   F    1746  1880
..         ...  ..     ...   ...
551    William   M    6904  1907
552      James   M    6707  1907
553     George   M    4445  1907
554     Robert   M    4020  1907
555    Charles   M    3884  1907

[556 rows x 4 columns]
          name sex  number  year
556     Joseph   M    3844  1907
557      Frank   M    2943  1907
558     Edward   M    2576  1907
559      Henry   M    2203  1907
560       Mary   F   18665  1908
...        ...  ..     ...   ...
1107  Margaret   F   14725  1935
1108     Nancy   F   14544  1935
1109     Helen   F   12781  1935
1110    Robert   M   56524  1935
1111     James   M   55000  1935

[556 rows x 4 columns]
          name sex  number  year
1112      John   M   47499  1935
1113   William   M   40198  1935
1114   Richard   M   33945  1935
1115   Charles   M   29983  1935
1116    Donald   M   29661  1935
...        ...  ..     ...   ...
1663     Karen   F   32485  1963
1664     Linda   F   27719  1963
1665     Donna   F   25399  1963
1666  Patricia   F   25371  1963
1667      Lori   F   23907  1963

[556 rows x 4 columns]
          name sex  number  year
1668    Sandra   F   21619  1963
1669   Cynthia   F   21593  1963
1670   Michael   M   83782  1963
1671      John   M   78625  1963
1672     David   M   78467  1963
...        ...  ..     ...   ...
2219    Joseph   M   30128  1990
2220    Ashley   F   43478  1991
2221   Jessica   F   43398  1991
2222  Brittany   F   29089  1991
2223    Amanda   F   28893  1991

[556 rows x 4 columns]

In [44]:
# 動かない
!cat data/popular-names.txt | wc -l | xargs -I{} expr {}/5 | xargs -I{} split -l {} -d data/popular-names.txt data/split_files/split

split: invalid number of lines: ‘2780/5’

In [43]:
!split -l 556 -d data/popular-names.txt data/split_files/split

# 17. １列目の文字列の異なり

In [57]:
print((~df.duplicated(subset='name')).sum())

136

In [59]:
# uniqは隣り合う行しか参照しないので先にsortする　sortにもuniqに相当するオプションがある
! cut -f 1 data/popular-names.txt | sort | uniq | wc -l

136

# 18. 各行を3コラム目の数値の降順にソート

In [61]:
print(df.sort_values('number', ascending=False))

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947
...       ...  ..     ...   ...
27      Annie   F    1326  1881
28     Bertha   F    1324  1881
8      Bertha   F    1320  1880
29      Alice   F    1308  1881
9       Sarah   F    1288  1880

[2780 rows x 4 columns]

In [63]:
! cat data/popular-names.txt | sort -r -n -k 3 | head -n 5

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
sort: write failed: 'standard output': Broken pipe
sort: write error

# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [65]:
print(df.value_counts("name"))

name
James      118
William    111
Robert     108
John       108
Mary        92
          ...
Laura        1
Tracy        1
Carolyn      1
Kelly        1
Walter       1
Length: 136, dtype: int64

In [73]:
!cut -f 1 data/popular-names.txt | sort | uniq -c | sort -r -k 1 | head -n 5

    118 James
    111 William
    108 Robert
    108 John
     92 Mary